.AddEmployee__form {
    background: white;
    
  .AddEmployee__input {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
  }

  .AddEmployee__error {
    color: tomato;
  }

  .AddEmployee__btn {
    margin-top: 1rem;
  }
}
