.navbar {
  background: #ffffff;
  color: #bdbdbd;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
  padding: 5px 20px;
  font-family: "Comic Sans MS";
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 0;

  a {
    color: #bdbdbd;
  }

  section {
    display: flex;
    justify-content: space-between;

    a {
      color: #909090;
      margin: 0 0.7rem;
    }
  }
}

.selected {
  // color: #20b9ff !important;
  // border-bottom: 2px solid transparent;
  // border-image: linear-gradient(90deg, #24a19c 0%, #20b9ff 186.42%);
  // border-image-slice: 1;
  // height: 25px;

  background: #ecf0f3;
  padding: 0.2rem 0.5rem;
  border-radius: 25px;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
